
.nav {
    position: absolute;
    background-size: 100% 100%;
    z-index: 100;
    cursor: pointer;
}

.navm {
    background-image: url(../images/navm.png);
    width: 87px;
    height: 87px;
}

.navm:hover {
    background-image: url(../images/navm-hover.png);
}

.navm.active {
    background-image: url(../images/navm-active.png);
}

.navt {
    font-size: 36px;
    font-family: '黑体';
    color: #00b4ff;
    display: none;
    height: 65px;
    line-height:65px;
}

.navt.active {
    display: block;
}

.navt.current {
    opacity: 0.55;
    cursor: default;
}

.navlink {
    display: none;
    width: 65px;
    height: 65px;
}

.navlink.current {
    cursor: default;
}

.navlink.active {
    display: block;
}


.nava {
    left: 15px;
}

.nava.navlink {
    left: 26px;
}

.nava.navt {
    left:101px;
}

.navb {
    right: 15px;
}

.navb.navlink {
    right: 26px;
}

.navb.navt {
    right: 101px;
    text-align:right;
}

.navm {
    bottom: 15px;
    opacity:1;
}

.navm.active {
    opacity:1;
}

.navh {
    bottom: 437px;
    background-image: url(../images/navz.png);
} 

.nav4 {
    bottom: 117px;
    background-image: url(../images/nav4.png);
}

.nav3 {
    bottom: 197px;
    background-image: url(../images/nav3.png);
}

.nav2 {
    bottom: 277px;
    background-image: url(../images/nav2.png);
}

.nav1 {
    bottom: 357px;
    background-image: url(../images/nav1.png);
}

.navx {
    bottom: 517px;
    background-image: url(../images/navh.png);
}

.navh.current {
    background-image: url(../images/navh-current.png);
}

.nav5.current {
    background-image: url(../images/nav5-current.png);
}

.nav4.current {
    background-image: url(../images/nav4-current.png);
}

.nav3.current {
    background-image: url(../images/nav3-current.png);
}

.nav2.current {
    background-image: url(../images/nav2-current.png);
}

.nav1.current {
    background-image: url(../images/nav1-current.png);
}

.navt {
    background: none;
}

.navt.current {
    background: none;
}

.mask {
    position:absolute;
    background-color: #002C42; 
    width:300px;
    height:520px;
    bottom:2px;
    display:none;
    z-index:99;
    border:2px solid #00b4ff;
    cursor:default;
}

.mask.active {
    display:block;
}

.maska {
    left:2px;
}

.maskb {
    right:2px;
}

.maskall {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99;
    display:none;
}

.maskall.active {
    display:block;
    cursor:default;
}

.nava {
    display:none;
}