
.panel1 {
    left: 8px;
    width: 945px;
}

.panel2 {
    left: 963px;
    width: 945px;
}

.panel3 {
    left: 8px;
    width: 945px;
}

.panel4 {
    left: 963px;
    width: 467px;
}

.panel5 {
    left: 1441px;
    width: 467px;
}

.panel6 {
    left: 8px;
    width: 1900px;
}

.panel7 {
    left: 8px;
    width: 1900px;
}





.panel1 {
    top: 120px;
    height: 276px;
}

.panel2 {
    top: 120px;
    height: 276px;
}

.panel3 {
    top: 415px;
    height: 346px;
}

.panel4 {
    top: 415px;
    height: 333px;
}

.panel5 {
    top: 415px;
    height: 333px;
}

.panel6 {
    top: 780px;
    height: 141px;
}

.panel7 {
    top: 953px;
    height: 108px;
}
