table {
    /*position: absolute;*/
    border-collapse: collapse;
    width: 100%;
    bottom: 0;
}

th, td {
    font-size: 16px;
    color: #fff;
    font-family: '黑体';
    border: 1px solid #48a0e0;
    text-align: center;
    line-height: 45px;
    background-color: #003566;
    height: 45px;
    color: #fff;
}

th {
    color: #32e6e9;
    font-size: 16px;
}

cite {
    width: 21px;
    height: 21px;
    display: block;
    border-radius: 50% 50%;
    margin: 2px auto;
}

.t1 cite,
.t2 cite {
    background-color: #F50915;
}

.t3 cite {
    background-color: #28DC00;
}

.t4 cite {
    background-color: #F6B406;
}

td div {
    text-align: right;
    font-size: 12px;
    font-family: SimHei;
    color: #fff;
    background-color: #1D9EFA;
    margin-top: 3px;
    height: 30px;
    margin-left: 4px;
    line-height: 30px;
    padding-right: 10px;
    display: none;
}
