.LBbar-container { margin-left: 0.15rem; margin-top: 0.6rem; height: 3.75rem; width: 0.2rem; float: left; }
.forLBbartext { margin-left: 0.05rem; width: 0.6rem; height: 3.75rem; float: left; margin-top: 0.6rem; font-size: 0.1rem; text-align: center; padding-top: 0.2rem; }
.forLBbartext p { font-size: 0.1rem; color: #fff; }

/*.LBbar-can{height:1.4rem;width:0.2rem;margin-left:0.3rem;margin-top:0.6rem;}*/